{% extends 'apigui/bootstrap.html' %}

{% load bootstrap3 %}
{% bootstrap_javascript %}

{% block bootstrap3_extra_head %}
{% load static %}

{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "apigui/style.scss" %}" />
    
{% endcompress %}

{% endblock %}

{% block bootstrap3_content %}
<body>
    <header>
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="#">SandCage API test</a>
		</div>
		<ul class="nav navbar-nav">

		    <li class="{% if nbar == 'home' %}active{% endif %}"><a href="{% url 'apigui:index' %}">Home</a></li>
		    <li class="{% if nbar == 'info' %}active{% endif %}"><a href="{% url 'apigui:info' %}">Get Info</a></li>
		    <li class="{% if nbar == 'files' %}active{% endif %}"><a href="{% url 'apigui:files' %}">List Files</a></li>
		    <li class="{% if nbar == 'tasks' %}active{% endif %}"><a href="{% url 'apigui:tasks' %}">Schedule Tasks</a></li>
		    <li class="{% if nbar == 'destroy' %}active{% endif %}"><a href="{% url 'apigui:destroy' %}">Destroy Files</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
		    <li class="{% if nbar == 'apikey' %}active{% endif %}">
			<a href="{% url 'apigui:apikey' %}">
			    {% if valid_apikey %}
			    <span id="key-valid" class="glyphicon glyphicon-ok-circle"></span>
			    {% else %}
			    <span id="key-invalid" class="glyphicon glyphicon-ban-circle"></span>
			    {% endif %}
			    API KEY
			</a>
		    </li>
    </ul>
 
	    </div>
	</nav>
	
    </header>
    {% block content %}
    {% endblock %}
    <footer>
    </footer>

{% endblock %}
